*.rar
*.tar
*.gz
*.zip
*.sql
*.log
*.txt
*.tar.gz
*.pdf
*.csv
*.package-lock.json
/.idea
/.htaccess
/robots.txt
/Cache
/cache
/Config/database.php
/Media/images
/Media/files
/node_modules
/server/node_modules
/client/node_modules
